*,
*::before,
*::after{
    box-sizing: border-box;
}
h1, h2, h3, h3 ,h5{
    margin: 0;
}
label{
    display: block;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
}
body{
    background-color: #F4F7FF;
}
.container{ 
    width: 100%;
    max-width: 1271px;
    margin: 0 auto;
}

/* Header */
.header{
    margin-top: 50px;
}
.header__logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.zip{
    margin-top: 26px;
    border-top: 1px solid #000000;
}

/* Main */

.main{
    margin-top: 105px;
}
.name{
    size: 64px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}
.descr{
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    font-family: 'Space Mono', monospace;
    
}
.educ-and-exp{
    margin-top: 139px;
    display: flex;
    justify-content: space-between;
}
.educ,
.exp,
.skills{
    width: 530px;
    padding: 32px 64px;
    border-radius: 5%;
    border-top: 5px solid white;
    border-left: 5px solid white;
    box-shadow: 10px 5px 5px rgb(234, 234, 234);
}
.title{
    font-size: 36px;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}
.information{
    margin-top: 32px;
}
.date{
    size: 16px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}
.some-info{
    size: 16px;
    font-weight: 400;
    font-family: 'Space Mono', monospace;
}
.skills{
    width: 100%;
    margin-top: 83px;
    max-height: 500px;
}
.-s{
    text-align: center;
}
.skills__inner{
    display: flex;
    justify-content: space-between;
}
.skills__skill{
    text-align: center;
}
.skill-name{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    size: 16px;
}
.contact{
    margin: 83px auto;
}
.contact__inner{
    width: 303px;
    height: 107px;
    margin: 0 auto;
    /* border-radius: 5%;
    border: 5px solid white;
    border-top: 5px solid white;
    border-left: 5px solid white;
    box-shadow: 10px 5px 5px rgb(234, 234, 234);
    box-shadow: 14px 24px 16px rgba(28, 38, 71, 0.05), inset 3px 4px 4px #FFFFFF;
    border-radius: 20px; */
} 
.contact__intro{
    /* border: 5px solid white;
    border-top: 5px solid white;
    border-left: 5px solid white;
    box-shadow: 10px 5px 5px rgb(234, 234, 234); */
    box-shadow: 14px 24px 16px rgba(28, 38, 71, 0.05), inset 3px 4px 4px #FFFFFF;
    border-radius: 20px;
}
.contact-title{
    font-family: 'Rubik', sans-serif;
    font-weight: 800;    
    font-size: 36px;
    text-transform: uppercase;
    padding: 32px 64px;
}
.form{
    margin-top: 31px;
    width: 469px;
    height: 478px;
    align-items: flex-start;
    padding: 0px;
    margin-right: 20px;
}
.contact__email,
.contact__name,
.contact__msg{
    margin-bottom: 16px;
}
.input{
    width: 469px;
    height: 38px;
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid #000000;
    border-radius: 2px;
}
.contact__btn{
    margin-top: 23px;
}
.btn{
    font-family: 'Space Mono', monospace;
    width: 72px;
    height: 36px;
    padding: 8px 16px;
    background: #000000;
    border-radius: 3px;
    color: #F4F7FF;
}